extends layout

block content
	#header
	#account
	#mapContainer
	#sidePanel
		.template#pubDetails
			#search
			h4#suburb The Rocks
			h3#pubName
			p#pubAddress
			a.addPub(href="")
			#pics
			p#comments
	#timeline
		h3 Route: 
			span Los Callejones del Juego y el Vino
		ul